---
import AstroCardItem from "./AstroCardItem.astro";
import AstroPagination from "./AstroPagination.astro";

import { getBlogDataList, getCardInfo } from "../js/BlogPost";

const { id, module, width, height } = Astro.props;

let content = getBlogDataList(module);
let data = content.data;
let pageInfo = content.pageInfo;

let cardInfo = getCardInfo(module);
---

<astro-card data-id={id}>
    <div
        id={id}
        class="card"
        style={{
            width: width,
            height: height,
        }}
    >
        <div class="card-header">
            <p class="card-header-title">
                <img
                    src={cardInfo.icon}
                    hidden={cardInfo.icon === null ||
                        cardInfo.icon === undefined ||
                        cardInfo.icon === ""}
                />
                {cardInfo.title}
            </p>
            <a
                type="button"
                class="card-header-button btn btn-link"
                href={cardInfo.btnHref}
            >
                {cardInfo.btnText}
            </a>
        </div>
        <ul class="list-group list-group-flush">
            {
                data.map((item) => (
                    <AstroCardItem
                        article={{
                            cover: item.cover,
                            title: item.title,
                            description: item.description,
                            author: item.author,
                        }}
                        url={item.url}
                        cardInfo={{
                            titleType: cardInfo.titleType,
                            border: cardInfo.border
                        }}
                    />
                ))
            }
        </ul>
        <div class="card-footer">
            <div></div>
            <div>
                <AstroPagination
                    id={id}
                    pageInfo={pageInfo}
                    hidden={cardInfo.hiddenPagination}
                />
            </div>
            <div></div>
        </div>
    </div>
</astro-card>

<style>
    .card {
        border-radius: 0;
        border: none;
    }
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white);
        height: 63px;
    }
    .card-header-title {
        margin-bottom: 0;
        color: var(--tone);
        font-size: 15px;
        font-weight: 500;
        font-family:
            PingFang SC,
            PingFang SC;
    }
    .card-header-button {
        --bs-btn-font-family: Helvetica, Helvetica;
        --bs-btn-font-size: 13px;
        --bs-btn-font-weight: 400;
        --bs-btn-color: rgba(0, 0, 0, 0.45);
        --bs-btn-hover-color: rgba(0, 0, 0, 0.75);
        --bs-btn-active-color: rgba(0, 0, 0, 0.75);
        --btn-line-height: 15px;
        outline: none;
        text-decoration: none;
    }
    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card-footer .btn-toolbar .btn-group div,
    button {
        border-radius: 0;
    }
</style>
