---
const { id, slides, width, height } = Astro.props;

let imgs = slides !== null && slides !== undefined ? JSON.parse(slides) : [];
for (let index = 0; index < imgs.length; index++) {
    imgs[index]['active'] = index === 0 ? 'active': '';
    imgs[index]['ariaCurrent'] = index === 0 ? 'true': '';
    imgs[index]['index'] = index;
}
---

<astro-carousel>
    <div
        id={id}
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="1500"
        style={`border-radius: 6px; overflow: hidden; width:${width}; height: ${height}`}
    >
        <div class="carousel-indicators">
            {
                imgs.map((img) => (
                    <button type="button" data-bs-target={`#${id}`} data-bs-slide-to={img.index} class={img.active} aria-current={img.ariaCurrent} aria-label={`Slide${img.index}`}></button>
                ))
            }
        </div>
        <div class="carousel-inner">
            {
                imgs.map((img) => (
                    <div class={`carousel-item ${img.active}`}>
                        <a href={img.href}>
                            <img src={img.src} class="d-block w-100" style="border-radius: 6px; object-fit: cover"/>
                        </a>
                    </div>
                ))
            }
        </div>

        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target={`#${id}`}
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target={`#${id}`}
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</astro-carousel>

<script>
    class AstroCarousel extends HTMLElement {
        constructor() {
            super();
        }
    }

    customElements.define("astro-carousel", AstroCarousel);
</script>