---
import logo from "../assets/icons/logo.png";
import icon_Nav_SOU_2x from "../assets/icons/icon_Nav_SOU_2x.png";
import icon_Nav_mat_2x from "../assets/icons/icon_Nav_mat_2x.png";
import icon_Nav_MC_2x from "../assets/icons/icon_Nav_MC_2x.png";
import icon_Nav_THCH_2x from "../assets/icons/icon_Nav_THCH_2x.png";
import icon_Nav_HR_2x from "../assets/icons/icon_Nav_HR_2x.png";
import icon_Nav_RC_2x from "../assets/icons/icon_Nav_RC_2x.png";
import icon_Nav_SVC_2x from "../assets/icons/icon_Nav_SVC_2x.png";
import AstroBtn from './AstroBtn.astro';
---

<header>
	<nav>
		<div class="logo">
			<img src={logo.src}>
		</div>
		<div class="internal-links">
			<AstroBtn href="/inoxband/" src={icon_Nav_SOU_2x.src}>INFO</AstroBtn>
			<AstroBtn href="/inoxband/MAT" src={icon_Nav_mat_2x.src}>MAT</AstroBtn>
			<AstroBtn href="/inoxband/MC" src={icon_Nav_MC_2x.src}>M/C</AstroBtn>
			<AstroBtn href="/inoxband/TECH" src={icon_Nav_THCH_2x.src}>TECH</AstroBtn>
			<AstroBtn href="/inoxband/HR" src={icon_Nav_HR_2x.src}>H/R</AstroBtn>
			<AstroBtn href="/inoxband/RC" src={icon_Nav_RC_2x.src}>RC</AstroBtn>
			<AstroBtn href="/inoxband/SVC" src={icon_Nav_SVC_2x.src}>SVC</AstroBtn>
		</div>
		<div class="search">
			<form>
				<input type="text" placeholder="search">
				<button type="submit"></button>
			</form>
			<AstroBtn href="/inoxband/login">Log in</AstroBtn>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 13.19%;
		height: 80px;
		background: var(--tone);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	nav {
		position: relative;
	}
	nav, nav div {
		margin: 0;
		padding: 0;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo img {
		margin: 24px 0;
		padding: 0;
		width: 178px;
		height: 32px;
		border-radius: 0px 0px 0px 0px;
		opacity: 1; /* 透明度 */
	}

	.internal-links {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}

	.search {
		position: relative;
	}
	.search input {
		width: 148px;
		height: 40px;
		border-radius: 26px;
		text-indent: 10px;
		background: var(--white);
		border: 2px solid var(--white);
		transition: .3s linear; /* 过渡效果 */
		float: right;
		outline: none; /* 去掉点击输入框后的边框 */
	}
	.search input[type=text]::placeholder {
		padding: 2px;
        color: var(--tone);
    }
	.search input:focus {
		width: 200px;
	}
	.search button {
		position: absolute;
		top: 25px;
		right: 75px;
		background: none;
		border: none; /* 去掉边框 */
		outline: none; /* 去掉点击按钮后的边框 */
	}
	.search button:before{
		content: "\f002";
		font-family: FontAwesome;
		font-size: larger;
		color: var(--tone);
	}
</style>
